{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>

    <form method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <label for="email">Email</label>
        <input type="email" name="email" required="" id="email">

        <label for="password">Password</label>
        <input type="password" name="password" required="" id="password">

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
{% endblock %}
